.footer-wrap    
    footer.mainpage-footer
        ul.mainpage-footer__list
            li.mainpage-footer__item Privacy Policy |
            li.mainpage-footer__item Sitemap |
            li.mainpage-footer__item 
                span &#169; 
                |   2018 The 20
