.hero-section-wrap
    section.hero-section
        h1.hero-section__title 
            |   Relax.
            br
            |   It's Covered.
        p.hero-section__description
            |   Exceptional IT services
            br
            |   without the extra cost.
        include ../modules/find-location-button
include ../modules/scroll-arrow