section.it-services-description#it-services-description
    h2.it-services-description__title
        |   Let Us Handle Your 
        br
        |   IT Services
    p.it-services-description__text
        |   Whether you have problems to solve today or are looking to head off IT problems 
        |   tomorrow, you need the right IT partner—one that provides the support you need, is
        |   close by, and can grow with you long term. You need The 20. With our flat monthly fee,
        |   you can forget about hourly rates, labor billing, fees for drive time, hidden charges, and 
        |   unpredictable monthly bills. Instead, focus on your business.
    p.it-services-description__text
        |   We’ve got IT covered.
