nav.navigation.mainpage-header__navigation
    ul.navigation__list.mainpage-header__list
        li.navigation__item
            a(href="#").navigation__link About
        li.navigation__item
            a(href="#").navigation__link Find Your MSP
        li.navigation__item
            a(href="#").navigation__link Blog
        li.navigation__item
            a(href="#").navigation__link Contact
    ul.navigation__list
        li.navigation__item.navigation__item--partner
            a(href="#").navigation__link.navigation__link--partner Become A Partner
        li.navigation__item.navigation__item--login
            a(href="#").navigation__link.navigation__link--login Login