section.quote
    .quote__slider
        .quote__item
            p.quote__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                br
                |   sed diam nonummy nibh euismod tincidunt.
            p.quote__signature - PHIL DONALDSON, ABCD
        .quote__item
            p.quote__title Blah blah blah, something like a text ^_^ 
                br
                |   Tratata tratata, this is Spartaaaaa!!
            p.quote__signature - Mathew Jones, El Pozo
        .quote__item
            p.quote__title Oh man, cmon, stop that shit please, srsly,
                br
                |   no? hmmm... okay, but I'm angry now -_-
            p.quote__signature - Brad Dowson, Miami Sharks