.get-it {
    background-color: #e71e25;
    padding: 45px 0 40px 0;
    text-align: center;
    min-height: 191px;
    .hero-section__findloc-button {
        margin: 0;
    }
}

.get-it__title {
    color: #ffffff;
    font: 700 26px/37px 'Lato', sans-serif;
    letter-spacing: 1.04px;
    padding-bottom: 30px;
}